

.prvs-order {
/* padding: 20px; */
padding: 45px 20px 20px 20px;
}

.data {
text-align: center
}

.prvs-order-heading {
    font-size: 25px;
    padding: 7px;
    text-align: center;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.buttons {
    float: right;
    padding-left: 0px;
    padding-right: 0px
    /* padding-right: 20px */
}

.order-btn {
    float: right;
    color: white;
    cursor: pointer;
    background-color: #006288;
    /* padding: 5px; */
    border-radius: 15px;
}

.screen-btn {
    float: right;
    color: black;
    cursor: pointer;
    background-color: #d9edf7;
    /* padding: 5px; */
    border-radius: 15px;
}

.order-div {
    padding: 20px
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}

.popup {
    position: absolute;
    width: 700px;
    height: 520px;
    background: rgb(255,255,255);
    border: 5px solid rgb(90,90,90);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.cancel-btn {
    float: right;
    cursor: pointer;
}

.calender-heading {
    position: relative;
    height: 44px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.orderHeading-date { 
    margin-left: 9px;
    font-size: 20px;
    position: relative;
    top: 12px;
}


.calender {
    left: 175px;
    top: 15px;
    position: relative;
}

.note {    
    position: relative;
    color: crimson;
    top: 18px;
    text-align: center;
}

.warning {    
    position: relative;
    color: crimson;
    top: 23px;
    text-align: center;
}

.next-icon {
    float: right;
    cursor: pointer;
    right: 8px;
    position: relative;
}

.orderItem {
    padding: 7%
}


.orderItem-input {
    background-color: #d9edf7;
    border-radius: 4px;
    height: 30px;
    padding-left: 4px;
}

.input-div {
padding-top: 10px
}

.wrapper {
    width:100%; 
    display:table;
    position: relative;
    top: 100px
}
.equal{display:table-cell;}
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}

.sendReqst-btn {
    position: relative;
    border-radius: 14px;
    right: 80px;
    top: 310px;
    float: right;
    color: white;
    cursor: pointer;
    background-color: #006288;
    width: 250px;
    height: 35px;
}

.dlt-btn {
    cursor: pointer;
    position: relative;
    border-radius: 14px;
    left: 80px;
    top: 310px;
    float: left;
    color: white;
    background-color: crimson;
    width: 250px;
    height: 35px;
}

.approve-btn {
    background-color: lightgreen
}

.reject-btn {
    color: white;
    background-color: crimson
}

/* .ui-datepicker table {
    font-size: 10px !important;
}

.ui-datepicker table td, body .ui-datepicker table th {
    padding: 0px !important;
} */